



header {
    text-align:center;
   
}

body {
   background-color: #F4B942;
    color: #222E50;
    width: 100%;

}
nav ul li {
    margin-bottom: 10px;
    display: inline;
}
nav ul  a {
    width: 45px;
    padding: 5px;
    line-height: 30px;
    text-align: center;
    list-style: none;
    text-decoration: none;

}
nav ul  a:hover {
    background-color: #222E50;

}



footer {
    text-align: center;
    margin-top: 1000px;
    

}
startButton   {
    text-align: center;
    

}
stopButton:hover {
    text-align: center;
}
#FunnyMeme {
   position: absolute; /* will this allow the image around */
   margin: 200px;
   float: center;
   width: 300px;
   left: 100px;
   right: 100px;

    

}
 
P{
    width: 100%;
    text-align: center;
}
