/* selesctor can be an HTML elemaent, it can be a custom style - start with or it can be an id - start with #
selecctor{
       property1: value;
       property2: value;

}
*/
header {
    text-align: center;
    padding-left: 100px;
}

body {
    background-color: #E9D985;
    color: #222E50;
    width: 100%;
}
nav {
    height: 600px;
    width: 200px;
    float:  left;
    padding: 5px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
}
footer {
    text-align: center;
    

}
startButton {
    text-align: center;

}
stopButton {
    text-align: center;
}
#FunnyMeme {
   position: absolute; /* will this allow the image around */
   margin: 200px;


   float: center;
   width: 300px;
   left: 100px;
   right: 100px;

    

}

P{
    width: 100%;
    text-align: center;
}
h1 {
    padding-left: 150px;
}