


header {
    text-align:center;
    animation: glow 1s ease-in-out infinite alternate;
   
}

body {
   background-image: url("patterns.jpg");
    color: #011638;
    width: 100%;

   

}
nav ul li {
    margin-bottom: 10px;
    display: inline;

}
nav ul  a {
    width: 45px;
    padding: 5px;
    line-height: 30px;
    text-align: center;
    list-style: none;
    text-decoration: none;

}
nav ul  a:hover {
    background-color: #011638;

   

}

button {
    border-radius: 30px;
}

footer {
    text-align: center;
    margin-top: 1000px;
    

}
startButton   {
    text-align: center;
    

}
stopButton:hover {
    text-align: center;
}
#FunnyMeme {
   position: absolute; /* will this allow the image around */
   margin: 200px;
   float: center;
   width: 300px;
   left: 100px;
   right: 100px;

    

}
 
P{
    width: 100%;
    text-align: center;
}
